
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #1f1f1f;
}

#wrapper {
    width: 80%;
    margin: auto;
    text-align: center;
    color: #d9d9d9;
}

input, textarea {
    margin: 5px;
    padding: 8px;
    border-radius: 5px;
}

.button {
    padding: 10px;
    background-color: #f2791d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #ffb15e;
}

textarea {
    width: 95%;
    height: 150px;
}

input[type="text"], input[type="password"] {
    width: 200px;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    border: 1px solid #ffb15e;
    outline: none;
}
